.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000056;
  z-index: 1;
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    max-height: 400px;
    padding: 32px 40px 42px;
    background-color: #f2f2f2;
    &__consultation {
      display: none;
      &-title {
        @include text($Museo500, 18px, #0d0d0d);
        text-align: center;
        margin-bottom: 7px;
      }
      &-subtitle {
        @include text($Museo500, 14px, rgba(13,13,13,1));
        text-align: center;
        margin-bottom: 24px;
      }
    }
    &__close {
      position: absolute;
      top: 0;
      right: -41px;
      width: 21px;
      height: 21px;
      cursor: pointer;
      &::before {
        position: absolute;
        content: '';
        top: 40%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $red;
        transform: rotate(45deg);
      }
      &::after {
        position: absolute;
        content: '';
        top: 40%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $red;
        transform: rotate(-45deg);
      }
    }
    &__order {
      display: none;
      background-color: #f2f2f2;
      &-title {
        @include text($Museo500, 18px, #0d0d0d);
        text-align: center;
        margin-bottom: 7px;
      }
      &-subtitle {
        @include text($Museo500, 14px, rgba(13,13,13,1));
        text-align: center;
        margin-bottom: 24px;
      }
    }
    &__thanks {
      display: none;
      &-title {
        @include text($Museo500, 18px, #0d0d0d);
        text-align: center;
        margin-bottom: 31px;
      }
      &-subtitle {
        @include text($Museo500, 14px, rgba(13,13,13,1));
        text-align: center;
        margin-bottom: 7px;
      }
    }
  }
}